/** =========
  Media Queries
========= **/
/** =========
  Media Queries
========= **/
/* ==============
   Media queries
  ============= */
.wrapper,
.class-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-header nav,
.top-header ul {
  background: transparent;
}

.top-header a {
  color: #ffffff;
}

nav {
  height: 55px;
  margin: 0px auto;
  background: #f5e8dd;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f5e8dd;
  margin-right: 1rem;
}

nav ul li {
  font-family: "PT Sans", sans-serif;
  color: #4a4a4a;
  padding: 15px;
  list-style: none;
  letter-spacing: 1px;
}

nav ul a {
  color: #797979;
  text-decoration: none;
  background: transparent;
  font-size: .9rem;
}

nav ul a:hover {
  padding: 8px 0;
  border-bottom: 2px solid #fff;
  transition: border-bottom 0.3s;
}

.nav__icon {
  width: 36px;
  height: 28px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  display: none;
}

.nav__icon span {
  display: none;
  background: white;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
}

.nav__icon span:nth-of-type(1) {
  top: 0;
}

.nav__icon span:nth-of-type(2) {
  top: 12px;
}

.nav__icon span:nth-of-type(3) {
  bottom: 0;
}

.nav__icon.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}

.nav__icon.active span:nth-of-type(2) {
  display: none;
}

.nav__icon.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}

@media screen and (max-width: 767px) {
  nav {
    align-items: center;
    justify-content: flex-end;
  }
  nav ul {
    -webkit-flex-direction: column;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    z-index: 980;
  }
  nav ul li {
    padding: 10px;
    text-align: center;
    display: block;
    background: transparent;
    margin: 0px;
    padding: 20px;
  }
  nav ul li a:hover {
    color: #000;
    background: #fff;
  }
  nav .nav__icon,
  nav .nav__icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    z-index: 999;
  }
}

.footer {
  background: #f5e8dd;
  font-family: "PT Sans", sans-serif;
  color: #4a4a4a;
  color: #797979;
  text-align: center;
  margin-top: auto;
}

.footer p {
  padding: 1rem;
}

/*================== About section =====================/*/
.about-header {
  background: linear-gradient(#4e443cb8, rgba(236, 199, 181, 0.29)), url(../img/about-header.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 50vh;
  animation: bodyFadeIn 2s ease 0s 1 normal;
  -webkit-animation: bodyFadeIn 2s ease 0s 1 normal;
}

@keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  max-width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  color: #ffffff;
  font-size: 4.5rem;
  letter-spacing: 2px;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-header h1 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 767px) {
  .about-header h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .about-header {
    height: 30vh;
  }
}

.about-column {
  width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
  font-family: "Roboto", sans-serif;
  color: #2e335b;
}

.about-column h2 {
  text-align: center;
}

.about-column p {
  padding: 2rem;
  color: #4a4a4a;
  font-family: "PT Sans", sans-serif;
  color: #4a4a4a;
}

@media screen and (max-width: 320px) {
  .about-column p {
    padding: 1rem;
    font-size: 1rem;
  }
}

.about-column .history-text {
  padding-top: 2rem;
}

.footer {
  margin-top: auto;
}

/*================ Class price Section  ==================*/
.class-header {
  background: linear-gradient(#4e443cb8, rgba(236, 199, 181, 0.29)), url(../img/priceheader.jpg);
  background-position-y: 60%;
  background-size: cover;
  position: relative;
  height: 50vh;
  animation: bodyFadeIn 2s ease 0s 1 normal;
  -webkit-animation: bodyFadeIn 2s ease 0s 1 normal;
}

@keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.class-header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  max-width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  color: #ffffff;
  font-size: 4.5rem;
  letter-spacing: 2px;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .class-header h1 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 767px) {
  .class-header h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .class-header {
    height: 30vh;
  }
}

.class-wrapper {
  background-color: #f4f4f4;
}

.section-plans {
  background-color: #f4f4f4;
  padding: 5rem 0;
}

.plan-box {
  background-color: #ffffff;
  border-radius: 5px;
  width: 30%;
  margin: 0 1.5rem;
  box-shadow: 0 2px 2px #efefef;
  padding-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .plan-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .plan-box {
    width: 27%;
  }
}

.plan-box div {
  padding: 1rem;
  border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
  background-color: #2e335b;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
  margin-top: 1rem;
}

.plan-box h3 {
  color: #bfaf95;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}

.plan-price {
  font-size: 3rem;
  margin: 1rem 1rem;
  color: #fff2dd;
  font-family: "Roboto", sans-serif;
}

.plan-price span {
  font-size: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .plan-price {
    font-size: 2rem;
  }
}

.plan-box ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: stretch;
}

.plan-box ul li {
  width: 100%;
  align-items: center;
  padding: .8rem .8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .plan-box ul li {
    font-size: 15px;
  }
}

.signup-btn {
  background: #c57da0;
  color: #ffffff;
  height: auto;
  padding: 1rem 4rem;
  border-radius: 50px;
  transition: all .5s;
}

@media screen and (max-width: 767px) {
  .signup-btn {
    display: inline-block;
    width: 100%;
    padding: 1rem 6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .signup-btn {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 400px) {
  .signup-btn {
    padding: 1rem 2rem;
  }
}

.signup-btn:hover {
  background: #ffffff;
  color: #c57da0;
  border: 1px solid #c57da0;
}

/* ================ Class Schedule Section ======================== */
.schedule-header {
  background: linear-gradient(#4e443cb8, rgba(236, 199, 181, 0.29)), url(../img/scheduleheader.jpg);
  background-position: top;
  background-size: cover;
  height: 50vh;
  position: relative;
  animation: bodyFadeIn 2s ease 0s 1 normal;
  -webkit-animation: bodyFadeIn 2s ease 0s 1 normal;
}

@keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.schedule-header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  max-width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  color: #ffffff;
  font-size: 4.5rem;
  letter-spacing: 2px;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .schedule-header h1 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 767px) {
  .schedule-header h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .schedule-header {
    height: 30vh;
  }
}

#table-class-price {
  display: block;
}

.table-schedule {
  position: relative;
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
  padding: 5rem 0;
}

.class-schedule {
  border-bottom: 1px solid #bdbdbd;
  align-items: center;
}

.class-schedule h2,
.class-schedule p {
  height: 100%;
  text-align: left;
  padding: 2rem 0;
  font-family: "ButlerReg", Times, serif;
}

.class-schedule h2 {
  font-size: 2rem;
  width: 20%;
  color: #bfaf95;
}

@media screen and (max-width: 767px) {
  .class-schedule h2 {
    font-size: .9rem;
    width: 20%;
  }
}

@media screen and (max-width: 480px) {
  .class-schedule h2 {
    font-size: 1rem;
    width: 25%;
  }
}

.class-schedule p {
  font-size: 1em;
  width: 15%;
}

@media screen and (max-width: 480px) {
  .class-schedule p:last-child {
    width: 100%;
    display: inline-block;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book_btn {
  background: #2e335b;
  color: #bfaf95;
  display: block;
  padding: .6rem 2rem;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  text-align: center;
  transition: all .5s;
  border: 1px solid #2e335b;
  text-transform: uppercase;
}

.book_btn:hover {
  background: #ffffff;
}

@media screen and (max-width: 960px) {
  .class-schedule,
  .book_btn {
    font-size: .7rem;
    padding: .8rem 1rem;
  }
}

/* ================ Contact Section ======================== */
.contact-header {
  background: linear-gradient(#4e443cb8, rgba(236, 199, 181, 0.29)), url(../img/contact.jpg);
  background-position-y: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  position: relative;
  animation: bodyFadeIn 2s ease 0s 1 normal;
  -webkit-animation: bodyFadeIn 2s ease 0s 1 normal;
}

@keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact-header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  max-width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  color: #ffffff;
  font-size: 4.5rem;
  letter-spacing: 2px;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact-header h1 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 767px) {
  .contact-header h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .contact-header {
    height: 30vh;
  }
}

@media screen and (min-width: 768px) {
  .contact-section {
    display: flex;
  }
}

.contact-section .col {
  width: 100%;
}

.contact-section .left-col {
  padding-bottom: 2rem;
}

.contact-section .right-col {
  padding: 8rem 2rem 3rem;
}

@media screen and (max-width: 767px) {
  .contact-section .right-col {
    padding: 2rem;
  }
}

.contact-section .map-info {
  padding: 0 3rem;
}

@media screen and (max-width: 767px) {
  .contact-section .map-info {
    padding: 0;
  }
}

.contact-section .map-info .map1,
.contact-section .map-info .map2 {
  width: 100%;
  padding-top: 3rem;
}

.contact-section .map-info h2 {
  color: #2e335b;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  padding-top: 3rem;
}

.contact-section #signup-form {
  border: 1px solid #2e335b;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 1.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .contact-section #signup-form {
    margin-left: 2rem;
  }
}

.contact-section label,
.contact-section input,
.contact-section textarea {
  margin: .5rem 0;
}

.contact-section label {
  font-weight: bold;
}

.contact-section input {
  border: none;
  border-bottom: 1px solid #2e335b;
  outline: 0;
  padding: 10px;
}

.contact-section input:focus {
  font-size: 1.1rem;
}

.contact-section textarea {
  padding: 10px;
}

.contact-section .submit-btn {
  background-color: #2e335b;
  color: #bfaf95;
  border: none;
  flex-basis: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 3px;
  padding: 15px;
  transition: all .5s;
  border: 1px solid #2e335b;
  text-transform: uppercase;
}

.contact-section .submit-btn:hover {
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .contact-section .submit-btn .submit-btn {
    align-content: center;
  }
  .contact-section .submit-btn .submit-btn button {
    flex-grow: -1;
    flex-basis: 10%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
}

body .wrapper {
  overflow: hidden;
}

body .row {
  max-width: 1140px;
  margin: 0 auto;
}

body a {
  text-decoration: none;
}

/* ================ HEADER ====================*/
.top-header {
  background: linear-gradient(#4e443cb8, rgba(236, 199, 181, 0.29)), url(../img/mainheader.jpg);
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 80vh;
  max-height: 80vh;
  position: relative;
}

.top-header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  max-width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  color: #ffffff;
  font-size: 4.5rem;
  letter-spacing: 2px;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .top-header h1 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 767px) {
  .top-header h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .top-header {
    height: 50vh;
  }
}

/* ============== Welcome section  =================*/
#welcome-message {
  padding: 6rem 0;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  #welcome-message {
    padding: 2rem 0;
  }
}

#welcome-message h2 {
  color: #2e335b;
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #welcome-message h2 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  #welcome-message h2 {
    font-size: 2rem;
  }
}

#welcome-message h2:before, #welcome-message h2:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
  margin-left: 4rem;
  margin-right: 2rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #welcome-message h2:before, #welcome-message h2:after {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
  #welcome-message h2:before, #welcome-message h2:after {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

#welcome-message p {
  padding: 5rem;
  font-family: "PT Sans", sans-serif;
  color: #4a4a4a;
  color: #4a4a4a;
}

#about-class {
  background: #fafafa;
}

.intro-card {
  display: flex;
  padding: 2rem;
}

.intro-card:nth-child(even) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {
  .intro-card {
    flex-wrap: wrap;
    padding: 1em;
    margin: 0;
    display: inline-block;
  }
}

.welcome-img {
  max-width: 100%;
  width: 50%;
  height: 400px;
  object-fit: contain;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .welcome-img {
    margin: 0;
    display: inline-block;
    width: 100%;
    object-fit: cover;
  }
}

.text-box {
  padding: 2rem;
}

.text-box h3 {
  color: #bfaf95;
  font-size: 3rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .text-box h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .text-box h3 {
    font-size: 1.8rem;
    padding: 0;
  }
}

.text-box h3:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
  margin-left: 2rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 320px) {
  .text-box h3:after {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .text-box h3:after {
    margin-left: 1rem;
    margin-right: 1.5rem;
  }
}

.text-box p {
  padding: 2rem;
  font-family: "PT Sans", sans-serif;
  color: #4a4a4a;
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .text-box p {
    padding: 1rem 0 0 0;
  }
}

.text-box .intro-btn {
  background: #c57da0;
  padding: 1rem 2rem;
  transition: all .5s;
  margin: 2rem;
}

@media screen and (max-width: 600px) {
  .text-box .intro-btn {
    margin: 0 auto;
    display: block;
  }
}

.text-box .intro-btn a {
  color: #ffffff;
}

.text-box .intro-btn:hover {
  background: #ffffff;
  color: #c57da0;
  border: 1px solid #c57da0;
}

.text-box .intro-btn:hover a {
  color: #c57da0;
}

/*====================== Join section  ===========================*/
#join-section {
  background-image: linear-gradient(rgba(25, 25, 25, 0.836), rgba(90, 87, 87, 0.274)), url(../img/ballet-header.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
}

@media screen and (max-width: 1024px) {
  #join-section {
    height: 60vh;
  }
}

.join-message {
  max-width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .join-message {
    width: 100%;
  }
}

.join-message h3 {
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .join-message h3 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
  .join-message h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .join-message h3 {
    font-size: 1.5rem;
  }
}

.join-message p {
  padding: 2rem;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .join-message p {
    padding: 1rem;
    text-align: center;
  }
}

.join-message .join-btn {
  background: #c57da0;
  padding: 1rem 2rem;
  transition: all .5s;
  margin: 0 auto;
  display: block;
}

.join-message .join-btn a {
  color: #ffffff;
}

.join-message .join-btn:hover {
  background: #ffffff;
  color: #c57da0;
  border: 1px solid #c57da0;
}

.join-message .join-btn:hover a {
  color: #c57da0;
}
