/*================== About section =====================/*/

.about-wrapper {
    min-height: 80vh; // min-height: 80vh;
    @include min-screen($breakpTablet-min-601) {
        display: flex;
    }
}

.column {
    height: auto;
    width: 100%;
    @include screen($breakpTablet-min-601, $breakpTablet-max-960) {
        max-height: 100vh;
    }
}

.left {
    background-image: url(../img/about2.jpg);
    @include background-position;
    @include max-screen($breakpMobileLand-max-600) {
        height: 50vh;
    }
}

.right {
    background: #e6e2e5;
    @include max-screen($breakpMobileLand-max-600) {
        height: auto;
    }
}

.right,
.left {
    @include screen($breakpTablet-min-601, $breakpTablet-max-960) {
        width: 50%;
    }
}

.info {
    height: auto;
    padding-top: 3rem;
    h2 {
        color: $main-color;
        font-size: 3.3rem;
        display: flex;
        align-items: center;
        padding: 0 3rem;
        @include title-font;
        .title-after {
            display: block;
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 100px;
                height: 1px;
                background-color: $main-color;
                position: absolute;
                top: 50%;
                left: 200px; // @include border-style;
                // margin-left: 2rem;
                // margin-right: 6rem;
                // @include max-screen($breakp-mobile-mid-400) {
                //     margin-left: 1rem;
                //     margin-right: 2rem;
                // }
                // @include screen($breakp-mobile-mid-401, $breakpMobileLand-max-600) {
                //     margin-left: 1rem;
                //     margin-right: 1rem;
                // }
            }
        }
        .title-before {
            display: block;
            position: relative;
            margin-left: 5rem;
            &::before {
                content: '';
                display: block;
                width: 70px;
                height: 1px;
                background-color: $main-color;
                position: absolute;
                top: 50%;
                left: -100px;
            }
        } // @include border-style;
        // margin-right: 1rem;
        // @include max-screen($breakp-mobile-mid-400) {
        //     margin-right: .5rem;
        // }
        @include max-screen($breakp-mobile-mid-400) {
            font-size: 2rem;
            padding: 0 1rem;
        }
        @include screen($breakp-mobile-mid-401, $breakpMobileLand-max-600) {
            font-size: 2rem;
            padding: none;
        }
        @include screen($breakpTablet-min-601, $breakpTablet-max-960) {
            font-size: 2.5rem;
        }
        @include screen($breakpPc-min-961, $breakpPc-max-1024) {
            padding: none;
        }
    }
    p {
        padding: 2rem;
        color: $p-text-color;
        @include p-font;
        @include max-screen($breakp-mobile-min-320) {
            padding: 1rem;
            font-size: 1rem;
        } // @include screen($breakpPc-min-961, $breakpPc-max-1024) {
        //     font-size: 1.5rem;
        // }
    }
    .footer {
        margin-top: auto;
    }
}