/* ================ Class Schedule Section ======================== */

.schedule-header {
    background: linear-gradient($header-bg, rgba(236, 199, 181, 0.29)), url(../img/scheduleheader.jpg);
    background-position: top;
    background-size: cover;
    height: 50vh;
    position: relative;
    @include header-img-animation;
    @include headerTitle;

    @include max-screen($breakpPc-max-1024) {
        height: 30vh;
    }


}

#table-class-price {
    display: block;
}

.table-schedule {
    position: relative;
    max-width: 1400px;
    width: 85%;
    margin: 0 auto;
    padding: 5rem 0;
}

.class-schedule {
    border-bottom: 1px solid #bdbdbd;
    align-items: center;

    h2,
    p {
        height: 100%;
        text-align: left;
        padding: 2rem 0;
        font-family: "ButlerReg", Times, serif;
    }

    h2 {
        font-size: 2rem;
        width: 20%;
        color: $yellow-title;

        @include max-screen($breakpMobileLand-max-767) {
            font-size: .9rem;
            width: 20%;
        }

        @include max-screen($breakp-mobile-max-480) {
            font-size: 1rem;
            width: 25%;
        }


    }

    p {
        font-size: 1em;
        width: 15%;
    }

    p:last-child {
        @include max-screen($breakp-mobile-max-480) {
            width: 100%;
            display: inline-block;
        }
    }


}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book_btn {
    background: $main-color;
    color: $yellow-title;
    display: block;
    padding: .6rem 2rem;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
    transition: all .5s;
    border: 1px solid #2e335b;
    text-transform: uppercase;

    &:hover {
        background: #ffffff;
    }
}

@include max-screen($breakpTablet-max-960) {

    .class-schedule,
    .book_btn {
        font-size: .7rem;
        padding: .8rem 1rem;
    }
}