/* ================ Contact Section ======================== */

.contact-header {
    background: linear-gradient($header-bg, rgba(236, 199, 181, 0.29)), url(../img/contact.jpg);
    background-position-y: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
    @include header-img-animation;
    @include headerTitle;

    @include max-screen($breakpPc-max-1024) {
        height: 30vh;
    }

}



.contact-section {

    @include min-screen($breakpMobileLand-min-768) {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .left-col {
        padding-bottom: 2rem;
    }

    .right-col {

        padding: 8rem 2rem 3rem;

        @include max-screen($breakpMobileLand-max-767) {
            padding: 2rem;
        }
    }

    .map-info {
        padding: 0 3rem;

        @include max-screen($breakpMobileLand-max-767) {
            padding: 0;
        }

        .map1,
        .map2 {
            width: 100%;
            padding-top: 3rem;
        }

        h2 {
            color: $main-color;
            text-align: center;
            @include title-font;
            padding-top: 3rem;
        }


    }

    #signup-form {
        border: 1px solid $main-color;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        padding: 1.5rem;
        @include title-font;
        letter-spacing: 1px;

        @include screen($breakpMobileLand-min-768, $breakpTablet-max-960) {
            margin-left: 2rem;
        }
    }

    label,
    input,
    textarea {
        margin: .5rem 0;
    }

    label {
        font-weight: bold;
    }

    input {
        border: none;
        border-bottom: 1px solid $main-color;
        outline: 0;
        padding: 10px;

        &:focus {
            font-size: 1.1rem;
        }
    }

    textarea {
        padding: 10px;
    }

    .submit-btn {
        background-color: $main-color;
        color: $yellow-title;
        border: none;
        flex-basis: 100%;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 10px 3px;
        padding: 15px;
        transition: all .5s;
        border: 1px solid #2e335b;
        text-transform: uppercase;

        &:hover {
            background: #ffffff;
        }

        @include min-screen($breakpMobileLand-min-768) {
            .submit-btn {
                align-content: center;

                button {
                    flex-grow: -1;
                    flex-basis: 10%;
                }
            }
        }
    }

}