// color style
$main-color:#2e335b;
$nav-link-color:#c57da0;
$p-text-color: #4a4a4a;
$white-color: #ffffff;
$yellow-title: #bfaf95;
//padding margin style
//font
$textdeco: none;
$pfont:'PT Sans',
sans-serif;
$priceList: 'Roboto',
sans-serif;
//======= media queries =======
/** =========
  Media Queries
========= **/

$breakpMobilePortrait-min: 320px;
$breakpMobilePortrait-mid-max: 400px;
$breakpMobilePortrait-max: 480px;
$breakpMobileLand-min: 481px;
$breakpMobileLand-max: 600px;
$breakpTablet-min: 601px;
$breakpTablet-max: 960px;
$breakpPc-min: 961px;
$breakpPc-max: 1024px;