// color style
$main-color: #2e335b;
$nav-link-color: #c57da0;
$p-text-color: #4a4a4a;
$white-color: #ffffff;
$yellow-title: #bfaf95;
$nav-bg: #f5e8dd;
$nav-link: #4c4c4c;
$header-bg: unquote(
  $string: "#4e443cb8"
);
//padding margin style
//font
$textdeco: none;
$pfont: "PT Sans", sans-serif;
$priceList: "Roboto", sans-serif;
//======= media queries =======
/** =========
  Media Queries
========= **/
$breakp-mobile-min-320: 320px;
$breakp-mobile-mid-400: 400px;
$breakp-mobile-mid-401: 401px;
$breakp-mobile-max-480: 480px;
$breakpMobileLand-min-481: 481px;
$breakpMobileLand-max-600: 600px;
$breakpTablet-min-601: 601px;
$breakpMobileLand-max-767: 767px;
$breakpMobileLand-min-768: 768px;
$breakpTablet-max-960: 960px;
$breakpPc-min-961: 961px;
$breakpPc-max-1024: 1024px;
