// color style
$main-color:#2e335b;
$nav-link-color:#c57da0;
$p-text-color: #4a4a4a;
$white-color: #ffffff;
$yellow-title: #bfaf95;
//padding margin style
//font
$textdeco: none;
$pfont:'PT Sans',
sans-serif;
$priceList: 'Roboto',
sans-serif;