@import "variable";
@import "mixin";
@import "nav_footer"; //navigation bar and footer style
@import "about-section";
@import "class-price-section";
@import "class-schedule-section";
@import "contact-section";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
    .wrapper {
        overflow: hidden;
    }
    .row {
        max-width: 1140px;
        margin: 0 auto;
    }
    a {
        text-decoration: none;
    }
}

/* ================ HEADER ====================*/

header {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(55, 62, 119, 0.55)), url(../img/mainheader.jpg);
    @include background-position;
    height: 80vh;
}

.header-wrapper {
    padding: 5%;
}

.top-title {
    width: 100%;
    overflow: auto;
    h1 {
        margin: 0;
        padding: 3rem;
        text-align: center;
        color: $main-color;
        letter-spacing: 5px;
        font-size: 3rem;
        font-family: serif;
    }
}

/* ============== Welcome section  =================*/

#welcome-message {
    padding: 6rem 0;
    h2 {
        color: $main-color;
        display: flex;
        align-items: center;
        font-size: 3rem;
        @include title-font;
        &:before,
        &:after {
            @include border-style;
            margin-left: 5rem;
            margin-right: 2rem;
        }
    }
    p {
        padding: 5rem;
        @include p-font;
        color: $p-text-color;
    }
}

// ============= class intro section ================ ///
#about-class {
    background: #fafafa;
}

.intro-card {
    display: flex;
    padding: 2rem;
}

.intro-card:nth-child(even) {
    flex-direction: row-reverse;
}

.welcome-img {
    max-width: 100%;
    width: 50%;
    height: 400px;
    object-fit: contain;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
}

.text-box {
    padding: 2rem;
    h3 {
        color: $yellow-title;
        font-size: 3em;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        @include title-font;
        &:after {
            @include border-style;
            margin-left: 2rem;
            margin-right: 1.5rem;
        }
    }
    p {
        padding: 2rem;
        @include p-font;
    }
    .intro-btn {
        @include lp-button;
        margin: 2rem;
        a {
            color: $white-color;
        }
        &:hover {
            @include lp-button-hover;
            a {
                color: $nav-link-color;
            }
        }
    }
}

/*====================== Join section  ===========================*/

#join-section {
    background-image: linear-gradient(rgba(25, 25, 25, 0.836), rgba(90, 87, 87, 0.274)), url(../img/ballet-header.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    position: relative;
    h3 {
        @include title-font;
    }
}

.join-message {
    @include vertical-center;
    h3 {
        font-size: 2.5rem;
        color: #ffffff;
    }
    p {
        padding: 2rem;
        color: #fff;
    }
    .join-btn {
        @include lp-button;
        margin: 0 auto;
        display: block;
        a {
            color: $white-color;
        }
        &:hover {
            @include lp-button-hover;
            a {
                color: $nav-link-color;
            }
        }
    }
}

@media all and (min-width: 600px) {
    .about-wrapper {
        display: flex;
    }
}

@media all and (max-width: 550px) {
    .class-schedule {
        p:last-child {
            width: 100%;
            display: inline-block;
        }
        h2 {
            font-size: 1rem;
            width: 25%;
        }
        p {
            width: 25%;
        }
    }
    .signup-btn {
        display: inline-block;
        width: 100%;
    }
}

@media all and (max-width: 760px) {
    .intro-card {
        flex-wrap: wrap;
        padding: 1em;
        margin: 0;
        display: inline-block;
    }
    .welcome-img {
        margin: 0;
        display: inline-block;
    }
    .intro-card:nth-child(even) .welcome-img {
        margin: 0;
    }
    .welcome-img {
        width: 100%;
        object-fit: cover;
    }
    .class-schedule {
        h2 {
            font-size: .9rem;
            width: 20%;
        }
        p {
            width: 20%;
        }
    }
}

@media all and (max-width: 860px) {
    .class-schedule,
    .book_btn {
        font-size: .7rem;
        padding: .8rem 1rem;
    }
}